/* new style  */

[class*="col-"] {
    padding-bottom: 0;
}

@media only screen and (min-width : 992px) {
    .col-md-8 {
        padding-left: 0;
    }
}

h3 {
    border-bottom: 1px solid #31b0e0;
    color: #31b0e0;
    font-size: 21px;
    margin-top: 30px;
}
h2 {
    border-bottom: 1px solid #31b0e0;
    color: #31b0e0;
    font-size: 21px;
    margin-top: 30px;
}
h1 {
    color: #219bca;
    font-weight: 400;
    margin-top: 7px;
    text-transform: uppercase;
}
.readMore a{
    border-color: #37c8ff;
}
#intro .col-md-8.col-md-offset-2 p a {
    color: #37c8ff;
}
.m-pagination a{
    border-color: #37c8ff;
    color: #37c8ff;
}
.readMore a:hover {
    background-color: #37c8ff;
    color: #fff!important;
}
.m-pagination a:hover{
    background-color: #37c8ff;
    color: #fff!important;
}
thead {
    background: #e6e6e6;
    font-weight: bold;
}
td, th {
    padding: 0.6em 0.8em;
    border: 1px solid #cccccc;
    line-height: 1.3em;
}
figure td,figure th{
    border: none;
}
table {
    margin: 0.5em 0 1em;
}
time {
    position: relative;
    padding-left: 27px;
}
time:after{
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/cal.png) no-repeat center;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

figure.highlight{
    margin: 5px 0 25px;
    border-radius: 6px;

}

pre {
    line-height: 1.4;
    color: #f5f5f5;
    background-color: #000000;
    border: none!important;
    letter-spacing: 0.12em;
}
span.comment {
    color: #8e8e8e!important;
    font-style: normal;
}
figure.highlight{
    background-color: #000000!important;
    border-top-right-radius: 0;
}
figure.highlight .code{
    border: none;
}
span.comment {
    color: #8e8e8e!important;
    font-style: normal;
}

figure::-webkit-scrollbar {
    height: 7px;
}
figure::-webkit-scrollbar-thumb{
    background-color: #4cb7de;
}
figure::-webkit-scrollbar-track{
    background-color: #b4dfea;

}
figure table{
    margin: 0;
}

.sb-menu li a{
    color: #dcdcdc;
}
.sb-slidebar a:hover {
    color: #70f1d3;
}
.sb-close img:hover{
    color: #70f1d3;
}
.sb-slidebar {
    background-color: rgba(21, 21, 21, 0.88);
}

/*复制按钮*/
figure .copy{
    position: absolute;
    top: 0;
    right: 0;
    background: #faff27;
    color: #262626;
    padding: 0.24em 0.8em;
    border-bottom-left-radius: 1em;
    font-size: 0.7em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
figure .copy.on{
    background: #1ec241;
    color:white;
}
.navbar-inner {
    background-color: rgba(243, 243, 243, 0.23);
}
figure span::selection {
    background: #95fff1;
}
figure span::-moz-selection{
    background: #95fff1;
}
blockquote:after {
    position: absolute;
    top: 14px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    content: "√";
    background-color: #f66;
}
blockquote {
    border-left: 3px solid #f66;
    position: relative;
    background: #efefef;
}
#hero h2{
    border:none;
}
b, strong {
    color: #30bb9b;
}
p{font-size: 15px}
h4{
    color: #209bc9;}